body {
    margin: 0px !important;
    padding: 0px !important;
    overflow: hidden;
}

.ship-container {
    top: 20vh;
    left: 10%;
    width: 80vw;

    position: relative;
    background-color: gray;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1vw;
}

.ship-container::after {
    display: block;
    padding-bottom: 100%;
}


.ship-grid {
    flex-basis: calc(16% - 2vw);
    height: 10vw;
    margin: 1vw;
    background-color: yellow;
    box-sizing: border-box;

    outline: solid 0px black;
    transition: .4s;
}

.ship-grid:hover {
    outline: solid 4px black;
    transition: .08s ease-out;
}

.ship-grid::after {
    display: block;
    padding-bottom: 100%;
}

#upgrade-menu {
    left: 110%;
    bottom: -20%;
    width: 200%;
    /* height: 100%; */
    visibility: collapse;
    position: relative;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
    z-index: 1;
    background-color: goldenrod;
    opacity: 0%;
    transition: 0.3s;

    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-content: center;
}
#upgrade-menu:hover {
    box-shadow: 8px 8px 16px 0px rgba(0,0,0,0.6);
}
#upgrade-menu.visible {
    visibility: visible;
    opacity: 100%;
    bottom: 10%;
    transition: 0.3s;
}
#upgrade-menu .menu-closer {
    width: 3vw;
    height: 3vw;
    position: absolute;
    right: 0px;
    opacity: inherit;
}

.upgrade-item {
    flex-basis: calc(33% - 2.5vw);
    height: 4.5vw;
    margin: 0.5vw;
    box-sizing: border-box;

    outline: solid 0px black;
    transition: .4s;
}

.upgrade-item:hover {
    outline: solid 4px black;
    transition: .08s ease-in;
}

img {
    position: relative;
    width: 100%;
    height: 100%;
}

.upgrade-arrow {
    position: inherit;
    width: 0.5vw;
    height: 0.5vw;
    top: 2.5vw;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    transform: rotate(-45deg);
}

.bought {
    opacity: 0.3;
}

.ship-grid > .tile-tree {
    position:relative;
    height: 100%;
    width: 100%;
    background-color: greenyellow;
}
.ship-grid > .tile-empty {
    height: 100%;
    width: 100%;
    background-color: yellow;
}

#building-menu {
    left: 110%;
    bottom: -20%;
    width: 200%;
    /* height: 100%; */
    visibility: collapse;
    position: relative;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
    z-index: 1;
    background-color: goldenrod;
    opacity: 0%;
    transition: 0.3s;

    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-content: center;
}
#building-menu:hover {
    box-shadow: 8px 8px 16px 0px rgba(0,0,0,0.6);
}
#building-menu.visible {
    visibility: visible;
    opacity: 100%;
    bottom: 10%;
    transition: 0.3s;
}
#building-menu .menu-closer {
    width: 3vw;
    height: 3vw;
    position: absolute;
    right: 0px;
    opacity: inherit;
}

.building-item {
    flex-basis: calc(33% - 2.5vw);
    height: 4.5vw;
    margin: 0.5vw;
    box-sizing: border-box;

    outline: solid 0px black;
    transition: .4s;
}

.building-item:hover {
    outline: solid 4px black;
    transition: .08s ease-in;
}

.money-holder {
    text-align: center;
}

.navigation {
    position: absolute;
    color: rgba(255, 255, 255, 0);
    background-image: linear-gradient(to right, #264653, #32a3a2);
    font-weight: bold;
    font-size:medium;
    cursor:pointer;
    padding: 0;
    height:6rem;
    width:6rem;
    border-style:none;
    border-radius: 3rem;
    margin:20px;
    transition: box-shadow 0.15s, transform 0.2s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

    display: flex;
    justify-content: center;
    align-items: center;  
    text-align: center;
    color: rgb(215, 215, 225);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    font-size: 16px;
}

.navigation:hover{
    box-shadow: 0rem 0rem 1rem rgb(10, 10, 10);
    transform: scale(1.3);
    transform: rotate(10deg);
  }

  .navigation:active{
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: rotate(-20deg);
  }
/* 
.navigation a {
    color: rgb(215, 215, 225);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    font-size: 16px;
}

.navigation a:hover {
    text-decoration: underline;
} */

.msg {
    position:relative;
    top: -100px;
    right: -43%;
}