body{
  margin: 0;
  background-image: radial-gradient(circle closest-corner at 55% 60%, #1e0c31, #0d021f);
}

.planet-container{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.planet{
  z-index: 1;
  position: absolute;
  background-image: linear-gradient(to top left, #e9c46a, #e76f51);
  color: rgba(206, 57, 57, 0);
  font-weight: bold;
  font-size:medium;
  cursor:pointer;
  padding: 0;
  height:30rem;
  width:30rem;
  border-style:none;
  border-radius: 15rem;
  margin:20px;
  transition: box-shadow 0.15s, transform 0.2s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  vertical-align:bottom;
}


.ring_back{
  z-index: 0;
  position:absolute;
  /* background-image: linear-gradient(to top right, #6ae9e9, #5e51e7); */
  padding: 0;
  height:35rem;
  width:35rem;
  /* border-top-left-radius: 25rem; */
  /* transform:
   rotateX(45deg)
   rotateY(45deg); */
  border: 5rem solid rgb(142, 58, 58);
  border-radius: 50%;

  /* Halve the circle */
  border-bottom-color: transparent;
  border-left-color: transparent;
  transform:
  rotateZ(-45deg);
  animation: rotateRing 2s infinite alternate ease-in-out;
}

.ring_front{
  z-index: 2;
  position:relative;
  /* background-image: linear-gradient(to top right, #6ae9e9, #5e51e7); */
  padding: 0;
  height:35rem;
  width:35rem;
  border: 5rem solid rgb(58, 120, 142);
  border-radius: 50%;
  /* Halve the circle */
  border-top-color: transparent;
  border-right-color: transparent;
  transform:
  rotateZ(-45deg);

  animation: rotateRing 2s infinite alternate ease-in-out;
}

.rings{
  transform: rotateZ(-45deg);
}

@keyframes rotateRing {
  0% {
    transform: rotateZ(-45deg) rotateY(45deg) rotateX(30deg) ;
  }

  50% {
    transform: rotateZ(-45deg) rotateY(5deg) rotateX(50deg) ;
  }
  100% {
    transform: rotateZ(-45deg) rotateY(45deg) rotateX(20deg) ;
  }
}

